
:root{
    --gold1:#E00000;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #EAF2FF;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
    --color_letter: #00204C;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

.container--modifier{
    width: 60%;
}


/* Presentació */
.hero{
    width: 100%;
    min-height: 100vh;
    background: var(--black1)
}

.nav__hero{
    background-color: white;
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    position: fixed; 
    top: 0; 
    width:100%;
    z-index: 1000;
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name{
    background-color: var(--gold1);
    border-radius: 35px;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
.links{
    color: #00204C;
}
.link:hover{
    color: var(--gold1);
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

a:active{
    color: var(--gold1);
    font-weight: 700;
}

.point{
    color: var(--gold1);
}

.hero__main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
}

.mockup{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

.hero__textos{
    text-align: center;
    width: 50%;
}


.title{
    font-size: 70px;
    font-weight: 300;
    color:var(--color_letter) ;
}

.title--active{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    background-color: white;
    font-size: 24px;
    color: var(--color_letter);
    text-shadow: var(--shadow)  var(--color_shadow);
    margin: 15px 0;
    text-align: center;
}

.copy__active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background: var(--gold1);
    text-decoration: none;
    color: white;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
    box-shadow: 0 0 40px 40px var(--gold1) inset, 0 0 0 0 #a41721;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.cta:hover {
    box-shadow: 0 0 10px 0 var(--gold1) inset, 0 0 10px 4px #a41721;
}



/* Afegit per a JavaScript */

.slide-contenedor{
    max-width: 100% ;
    max-height: 100vh ;
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
}

.miSlider{
    display: none;
    transition: 2s;
    max-height: 100vh;

}

.miSlider img{
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;

}

.tamaño{
    width: 400px;
    margin: auto;
    align-items: center;
}



.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-size: 20px;
}

.direcciones a{
    color: black;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hoover{
    color: rgba(237, 0, 0, 0.5);
    transition: .5s;
}

.barras{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;

}

.barra{
    cursor: pointer;
    height: 3px;
    width: 25px;
    margin: 0 2px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;

}

.active{
    background-color: var(--gold1);
}

.fade{
    animation-name: fade ;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}


/* Contingut */

.contingut{
    background: white ;
}

.subtitle{
    font-size: 42px;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
}

.copy__section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: var(--color_letter);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}

.card__img{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cards__text{
    text-align: center;
    width: 90%;
    margin:0 auto;
}

.card__list{
    background-color: var(--gold1);
    color: white;
    border-radius: 40px;
    font-weight: 700;
    margin: 25px 0 12px ;
    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    background-color: white;
    border-radius: 20px;
    color: var(--color_letter);
    margin-bottom: 16px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.card__button{
    display: block;
    border-radius: 20px;
    text-decoration: none;
    width: 100%;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
    border-color: var(--gold1);
    color: #fff;
    box-shadow: 0 0 40px 40px var(--gold1) inset, 0 0 0 0 #a41721;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.card__button:hover {
    box-shadow: 0 0 10px 0 var(--gold1) inset, 0 0 10px 4px #a41721;
}
.card__date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background__title{
    font-size: 24px;
    margin-bottom: 4px;
}

/* Bibliografia */

.testimony{
    background-color: #EAF2FF;
}

.testimony-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.testimony__card{
    width: 30%;
    height: 500px;
    background: black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.testimony__img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}

.testimony__copy{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 8px;
    display: flex;
    align-items: center;
}

.testimony__copy--modifier{
    background: none;
    box-shadow: none;
}

.testimony__logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}

.testimony__name{
    font-size: 24px;
    line-height:28px;
}

.testimony__position{
    color: var(--gray);
}

.testimony__text{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.google__logo{
    margin-bottom: 20px;
}


.testimony__history{
    font-size: 21px;
    font-weight: 300;
}


.testimony__info{
    width: 70%;
}

.logo--picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}

/* Footer */


.footer{
    background: #fafafa;
}
.footer a:hover{
    color: var(--gold1);
}
.footer__caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}


.title__footer{
    font-size: 24px;
    margin-bottom: 32px;
}

.download{
    width: 50%;
}

.download__app{
    display: flex;
}

.download__item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    border: 1px solid var(--black2);
    width: 42%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}

.download__logo{
    font-size: 40px;
    margin-right: 20px;
}

.download__title{
    font-size: 18px;
}

.footer__copy{
    width: 100%;
    color: var(--black2);
    display: flex;
    flex-wrap: wrap;
}

a{
    color: black;
}
a:hoover{
    color: var(--gold1);
}


.socialmedia{
    margin-top: 24px;
    display: flex;
    color: var(--black2);
    text-align: center;
}

.socialmedia__icon{
    font-size: 60px;
    margin-right: 30px;
    display: inline-block;
    
}



.socialmedia__legend{
    color: var(--black2);
    margin-right: 16px;
}




@media screen and (max-width:900px){
    .mockup{
        width: 600px;
        height: auto;
    }

    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .background{
        width: 52%;
    }

    .card{
        width: 42%;
    }

    .testimony-container{
        justify-content: space-evenly;
    }

    .testimony__card{
        width: 45%;
    }

    .check__item{
        width: 45%;
        margin-bottom: 35px;
    }

    .newsletter{
        width: 80%;
    }

    .download{
        width: 100%;
    }

    .download__app{
        justify-content: space-between;
    }

    .download__item{
        width: 45%;
    }

    .get-email{
        width: 100%;
        margin-bottom: 40px;
    }

    .socialmedia__icon{
        font-size: 18px;
    }

    .socialmedia__legend{
        font-size: 18px;
    }
}

@media screen and (max-width:700px){
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav__container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .hero__main{
        margin-top: 100px;
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    .hero__textos{
        width: 100%;
        text-align: center;
    }

    .mockup{
        width: 60%;
        margin-bottom: 20px;
    }

    .title{
        font-size: 35px;
    }

    .copy{
        font-size: 20px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .copy__section{
        font-size: 20px;
        text-align: center;
    }

    .services .card{
        width: 80%;
    }

    .container-bg{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 35px;
    }

    .card__button{
        width: 100%;
    }

    .background{
        width: 65%;
        margin-bottom: 40px;
    }

    .background__copy{
        display: none;
    }

    .testimony__card{
        width: 65%;
    }

    .testimony__name{
        font-size: 20px;
    }

    .container--modifier{
        width: 80%;
    }

    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
}
